@import "page.css";
@import "typography.css";

main {
    --gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--gap);
    --flex-basis: 60%;
    color: #0d1522;

    > * {
        flex-grow: 1;
    }

    > :first-child {
        flex-basis: var(--flex-basis);
    }
}

#app_name {
    display: none;
}

#tagline {
    line-height: 1;
    font-size: 2.5rem;
}

#description {
    font-size: 1.125rem;
    margin-block: 1rem;
    max-inline-size: calc(var(--body-max-inline-size) / 2);
}

#download_links {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: .75rem;
    margin-block: 2rem;

    @container style(--is-wrapped: true) {
        justify-content: center;
    }

    > a {
        display: inline-block;
        --button-color: #111;
        border-radius: .25rem;
        color: var(--button-color);
        padding: 0;
        border: 0;

        &:any-link {
            text-decoration: none;
        }

        > img {
            display: block;
        }

        &:first-child {
            > img {
                block-size: 3rem;
                aspect-ratio: 3;
            }
        }

        &:nth-child(2) {
            > img {
                display: block;
                block-size: 3rem;
                aspect-ratio: 3.375;
            }
        }
    }
}

#screenshots {
    text-align: center;
    --image-inline-size: 222px;
    inline-size: calc(var(--image-inline-size) + 4ch);

    > ul {
        inline-size: 100%;
        padding-inline-start: 0;
        padding-block-end: 1rem;
        list-style: none;
        display: grid;

        --scroll-snap-align: start;

        --item-count: 7;
        --grid-inline-size: calc(var(--image-inline-size) + 2ch);
        grid-template-columns: repeat(var(--item-count), var(--grid-inline-size));

        @container style(--is-wrapped: true) {
            --scroll-snap-align: center;
            --grid-inline-size: max(28ch, 33%);
        }

        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
        mask-image: linear-gradient(to right, transparent, black 5%, #232323 95%, transparent);

        > li {
            scroll-snap-align: var(--scroll-snap-align);

            img, iframe {
                inline-size: var(--image-inline-size);
                clip-path: inset(0 round 16px);
            }
        }
    }
}

#webinar_registration_button {
    display: block;
    border: solid 2px #74490b;
    background: #8f5c14;
    color: #fff;
    padding: .5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px 2px;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
    word-break: break-word;

    @container style(--is-wrapped: true) {
        margin-inline: auto;
    }
}