@import "colors.css";
@import "typography.css";

body {
    --body-max-inline-size: 80ch;
    max-inline-size: var(--body-max-inline-size);
    margin-inline: auto;
    background-color: #f3f3f3;
    background-image: url("./landing_page_assets/background.jpg");
    background-size: cover;
}

main {
    margin-block: 5rem;
    padding-inline: .75rem;
}

iframe {
    width: 100%;
    border: 0;
}